@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}


nav{
font-family: 'Ubuntu';
}
nav ul{
    display: flex;
    align-items: center;
    color: #fff;
background-color: black;
height: 65px;
list-style: none;
}
ul img{
    width:44px;
    padding: 0 8px;
}

nav ul li{
padding: 0 12px;
transition: .3s;
cursor: pointer;
}
nav ul li:hover{
    color: #1DB954;
    transform: scale(1.1);
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: #fff;
    width: 70%;
    margin: 24px auto;
    padding: 34px;
    border-radius: 12px;
    display: flex;
    font-family: "Varela Round";
    background-image: url(bg.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;

}

.bottom{
    background-color: black;
    height: 100px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#progressBar{
    width: 80vw;
    cursor: pointer;

}
.icons{
margin-top: 14px;
}
.icons i{
    cursor: pointer;
    padding: 0 15px;
    font-size: 2rem;
    transition: .3s;
}
.icons i:hover{
        color: #1DB954;
        transform: scale(1.1);
}


.songItem{
    background-color: #fff;
    color: black;
    height: 50px;
    width: 40%;
    margin: 12px 0;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.songItem img{
    width: 40px;
    border-radius: 50%;
    margin: 0 24px;
}


.songList h1{
margin-bottom: 30px;
}
.timesTamp{
    cursor: pointer;
    margin: 0 24px;
}
.timesTamp i{
    margin: 0 10px;
}
.info{
    position: absolute;
    left:10vw;
    bottom: 2vh;
}
.info img{
    width: 30px;
    opacity: 0;
    transition: opacity ease-in .4s;
}